* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #939597;
}
h1 {
  text-align: center;
  font-size: 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 270px;
}
div {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.btnn {
  font-size: 30px !important;
  font-weight: bold !important;
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 5px 15px;
  border: solid 4px;
  border-radius: 9%;
  margin-left: 30px;
}
.btnn:focus {
  background-color: tomato;
}
/* .btn:visited { */
/* text-decoration: none; */
/* background-color: yellow; */
/* } */
.control {
  margin-top: 10px;
  text-align: center;
}
.cont {
  display: flex;
  justify-content: center;
  /* padding-left: 100px; */
}
